@media screen and (max-width: 879px) {
    .main {
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
        border-radius: 0;
    }
    .main .home {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }
    .main .home .left {
        position: relative;
        width: 100%;
        height: 520px;
    }
    .main .home .left .title {
        bottom: 210px;
    }
    .main .home .left .intro {
        bottom: 14px;
    }

    .main .home .right {
        position: relative;
        height: auto;
        width: 100%;
        padding: 0 0 20px 0;
    }
    .main .home .right .menu {
        margin: 10px auto;
    }
    .main .home .right .menu .title {
        width: fit-content;
    }
    .main .home .right .menu .subtitle {
        width: calc(100% - 90px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .background .info, .background .music {
        display: none;
    }
}