@media screen and (max-width: 879px) {
    #left {
        width: 160px;
    }
    #right {
        width: calc(100% - 160px);
    }
    #right .key, #right .value {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
}